@font-face {
  font-family: "iconfont"; /* Project id 2930624 */
  src: url('iconfont.woff2?t=1640685426823') format('woff2'),
       url('iconfont.woff?t=1640685426823') format('woff'),
       url('iconfont.ttf?t=1640685426823') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-usb:before {
  content: "\e656";
}

.icon-wenjianlujing:before {
  content: "\e654";
}

.icon-eyidaima:before {
  content: "\e655";
}

.icon-xiugaimima-icon:before {
  content: "\e653";
}

.icon-fanhui-icon:before {
  content: "\e652";
}

.icon-xinjian-icon:before {
  content: "\e650";
}

.icon-chaxun-icon:before {
  content: "\e651";
}

.icon-zhanghu-nor:before {
  content: "\e64f";
}

.icon-renwushenji-nor:before {
  content: "\e649";
}

.icon-renwu-nor:before {
  content: "\e64a";
}

.icon-gaojing-onr:before {
  content: "\e64b";
}

.icon-shezhi-nor:before {
  content: "\e64c";
}

.icon-celve-nor:before {
  content: "\e64d";
}

.icon-rizhi-nor:before {
  content: "\e64e";
}

.icon-guanji:before {
  content: "\e648";
}

.icon-peizhi:before {
  content: "\e645";
}

.icon-tishi:before {
  content: "\e646";
}

.icon-weiqiyong:before {
  content: "\e647";
}

.icon-bianji:before {
  content: "\e642";
}

.icon-lianjie:before {
  content: "\e643";
}

.icon-liantong:before {
  content: "\e644";
}

